:root {
    --bg-gradient-light: linear-gradient(95deg, #cfe1fd, #f2ffff);
    --bg-gradient-dark: linear-gradient(95deg, #050f1f, #0d292b);

    --bg-gradient: var(--bg-gradient-light);
    --text-color: black;
    --glass-bg: rgba(255, 255, 255, 0.2);
    --glass-border: rgba(150, 150, 150, 0.9);

    --switch-circle-color: #333;
    --switch-active-bg: rgb(159, 255, 139);
    --switch-inactive-bg: rgb(255, 255, 255);


    --bg-color: #dadada;
    --text-primary: #333;
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --success-color: #28a745;
    --danger-color: #dc3545;
    --warning-color: #ffc107;
    --info-color: #17a2b8;
    --light-color: #f8f9fa;
    --dark-color: #343a40;
    
}




body {
    font-family: Arial, sans-serif;
    margin: 0; 
    padding: 0; 
    width: 100%;
    max-width: 400px; /* Maximum width for the popup */
    min-width: 300px; /* Minimum width for the popup */
    max-height: 600px; /* Maximum height for the popup */
    overflow-y: auto;
    box-sizing: border-box;
    color: var(--text-color);
}

h1, h2, p {
    color: var(--text-color);
}

.subtext{
    color: var(--text-color);
    opacity: 0.8;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
    background: var(--bg-gradient);
    box-sizing: border-box; 
}

.header {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-bottom: 1px solid var(--glass-border);
}

.header-desc {
    color: var(--text-color);
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    gap: 3px;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.header h1 {
    font-size: 1.8em;
}

.myListTile {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}



.myToggle {
    appearance: none;
    width: 32px;
    height: 16px;
    background-color: var(--switch-inactive-bg);
    border-radius: 10px;
    position: relative;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.myToggle::before {
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    background-color: var(--switch-circle-color);
    border-radius: 50%;
    top: 1px;
    left: 1px;
    transition: transform 0.3s ease;
}

.myToggle:checked {
    background-color: var(--switch-active-bg);
}

.myToggle:checked::before {
    transform: translateX(16px);
}



.myCard {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px 10px;
    border-top: 1px solid var(--glass-border);
    background: var(--glass-bg);
    backdrop-filter: blur(10px); 
    margin-top: 20px;
}

.myCardContentGroup {
    background-color: rgba(255, 255, 255, 0.05);
    padding: 15px;
    border-radius: 5px;
    border: 0.5px solid var(--glass-border);
}

.myCardTitle {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 8px;
}

h1 {
    font-size: 1.5em;
}

.theme-option, .custom-option {
    margin-bottom: 10px;
    width: 100%;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    margin-top: 20px;
}